/* Pour des tablettes */
@media screen and (max-width:768px) {
    body {
        background-size: auto;
        background-repeat: repeat;
    }

    .container{
        -webkit-flex-direction:column; 
        flex-direction:column; 
        margin: auto;
        width: 100%;
    }

    .container > .zone_article_recent > form > div > div > div > input[type=text]{
        width: 50%
    }
}

/* Pour des écrans petits du genre un Iphone / Samsung */
@media screen and (max-width:400px) {
    h1{
        width: 100%;
    }

    .container{
        padding: 0px;
    }

    .container > .zone_admin,
    .container > .zone_admin > .admin:last-of-type{
        margin-bottom: 0px;
    }

    .container > .zone_admin > .admin > .bouton{
        margin-right: 0px;
    }

    .container > .zone_admin > .admin{
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container > .zone_admin > .admin{
        flex-wrap: wrap;
    }

    .container > .zone_recherche_resto > form > ul{
        padding: 0px;
    }

    .container > .zone_recherche_resto > form > ul > li{
        line-height: 1.5;
    }

    .container > .zone_recherche_resto > form > div > fieldset > div > div > input[type=password],
    .container > .zone_recherche_resto > form > div > fieldset > div > div > input[type=email],
    .container > .zone_recherche_resto > form > div > fieldset > div > div > input[type=number],
    .container > .zone_recherche_resto > form > div > div > div > input[type=text],
    .container > .zone_recherche_resto > form > div > div > div > select,
    .container > .zone_admin > .admin > .bouton,
    .container > .zone_admin > .admin,
    .container > .zone_recherche_resto > form > div > div > .bouton,
    .container > .zone_recherche_resto > form > div > fieldset > div > div > input[type=text],
    .container > .zone_recherche_resto > form > div > fieldset > div > div > select{
        width: 100%
    }

    .container > .zone_recherche_resto > form > div > fieldset > p{
        text-align: center;
    }
    .container > .zone_recherche_resto > form > div > div > .bouton:first-of-type,
    .container > .zone_admin > .admin > .bouton:first-of-type{
        margin-bottom: 15px;
    }
    .container > .zone_recherche_resto > .aucun {
        margin: 0px;
    }

    .container > .zone_recherche_resto > form > div > fieldset > div > div > input[type=password],
    .container > .zone_recherche_resto > form > div > fieldset > div > div > input[type=email],
    .container > .zone_recherche_resto > form > div > fieldset > div > div > input[type=number],
    .container > .zone_recherche_resto > form > div > fieldset > div > div > input[type=text],
    .container > .zone_recherche_resto > form > div > fieldset > div > div > select,
    .container > .zone_recherche_resto > form > div > div > div > input[type=text],
    .container > .zone_recherche_resto > form > div > div > div > select,
    .container > .zone_recherche_resto > form > .modif > .information > label{
        margin-right: 0px;
    }

    .container > .zone_recherche_resto > .tabeau_resto > .ligne > div,
    .container > .zone_recherche_resto > div > .tabeau_resto > .ligne > div{
        word-break: break-all;
    }

}