/* Pour des tablettes */
@media screen and (max-width:768px) {
    body {
        background-size: auto;
        background-repeat: repeat;
    }

    .container{
        -webkit-flex-direction:column; 
        flex-direction:column; 
        margin: auto;
        width: 100%;
    }

    .container > .zone_article_recent > form > div > div > div > input[type=text],
    .container > .zone_article_recent > form > div > div > div > input[type=date],
    .container > .zone_article_recent > form > div > div > div > textarea{
        width: 50%
    }
}

/* Pour des écrans petits du genre un Iphone / Samsung */
@media screen and (max-width:400px) {
    .container > .zone_article_recent > .tabeau_article .cle{
        width: 45%;
    }

    .container > .zone_article_recent > .admin_modif > .bouton,
    .container > .zone_admin > .admin > .bouton,
    .container > .zone_admin > .admin,
    .container > form > .zone_recherche > div,
    .container > form > .zone_recherche > .article > input[type=search],
    .container > .zone_article_recent > form > div > div > div > input[type=text],
    .container > .zone_article_recent > form > div > div > div > input[type=date],
    .container > .zone_article_recent > form > div > div > div > textarea{
        width: 100%
    }

    .container > .zone_admin > .admin > .bouton:first-of-type,
    .container > form > .zone_recherche > .article > input[type=search]{
        margin-bottom: 15px;
    }

    .container > .zone_admin > .admin > .seul:first-of-type{
        margin-bottom: 0px;
    }

    .container > .zone_admin > .admin > .bouton{
        margin-right: 0px;
    }

    .container > .zone_admin > .admin,
    .container > form > .zone_recherche > .troisBTN,
    .container > .zone_article_recent > form > .troisBTN {
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container > .zone_admin > .admin{
        flex-wrap: wrap;
    }
}