html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body {
    margin: 0;
    /*
        Cette photo est sous licence «Réutilisation permise»
        Fichier restaurant.jpg est une propriété du site
        https://www.pexels.com/photo/interior-design-of-a-glass-wall-restaurant-3201922/
    */
    background-image: url("/img/restaurant.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60%;
}

h2,h1 {
    text-align: center;
}
h1 > .info_important{
    color: red;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 60%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 15px;
    margin: auto;
}

.container_erreur{
    margin-top: 20px;
}

.erreur_400{
    text-align: center;
}

.erreur_400 > img{
    max-width: 35%;
    height: auto;
    margin: auto;
}

.erreur_400 > .pic_400{
    max-width: 45%;
}

.container > form{
    width: 100%;
}

.container > .desktop{
    margin: 0px;
}

.container > .zone_recherche_resto > #result_interval_etablissement,
.container > .zone_recherche_resto > #result_interval,
.container > .zone_admin,
.container > .zone_recherche_resto,
.container > .erreur_404{
    width: 100%;
    background-color: #c8c8c8;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.container > .zone_recherche_resto{
    margin-bottom: 15px;
}

.container > .recherche{
    margin-bottom: 20px;
}

.container_erreur > .zone_404{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.container > .zone_recherche_resto > form > .modif > fieldset{
    border-color: black;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.container > .zone_recherche_resto > form > .modif > p{
    margin: 0;
    margin-bottom: 15px;
}


.container > .zone_recherche_resto > #result_interval_etablissement,
.container > .zone_recherche_resto > #result_interval{
    padding: 0px;
}

.container > .zone_recherche_resto > #result_recher_rapide{
    padding: 0px;
}
/*
Nouvelle manière d'afficher un legend au milieu
*/
.container > .zone_recherche_resto > form > .modif > fieldset > .legendCenter{
    display: table;
    min-width: 0px;
    position: relative;
    margin: auto;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin-top: -17px;
}
/*
Fin de l'ajout du recentrage de attribut legend
*/

.container > .zone_404{
    width: auto;
    margin: auto;
    margin-bottom: 15px;
}

.container > .erreur_404{
    margin-bottom: 0px;
}
.container .erreur_404 img{
    width: 100%;
}

.container > .zone_recherche_resto > form > ul > li,
.container > .zone_recherche_resto > form > .modif > .information > ul > li{
    font-weight: bold;
    padding-left: 15px;
    height: 15px;
    line-height: 15px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.container > .zone_recherche_resto > form > div > fieldset > div > div > input[type=number],
.container > .zone_recherche_resto > form > div > div > div > input[type=text],
.container > .zone_recherche_resto > form > div > div > div > textarea,
.container > .zone_recherche_resto > form > div > fieldset > div > div > input[type=text],
.container > .zone_recherche_resto > form > div > fieldset > div > div > select{
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 5px;
    margin-right: 10px;
    width: 50%;
}
.container > .zone_recherche_resto > form > div > div > div > textarea{
    text-align: left;
}

.container > .zone_recherche_resto > form > div > fieldset > div > div > select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    background-color: white;
}

.container > .zone_recherche_resto > form > .aucun,
.aucun{
    font-weight: bold;
    color:red;
    margin: 0;
}

.err_400{
    width: 10%;
}

.container h2 span{
    color:green;
    font-weight: bold;
}
.container > .zone_recherche_resto > .admin_modif{
    margin-top: 15px;
}

.container > .zone_recherche_resto > form > p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}

.container > .zone_recherche_resto > p,
.container > .zone_recherche_resto > form > .modif > fieldset > p{
    padding-left : 50px;
    font-weight: bold;
}

.container > .zone_recherche_resto > #result_interval_etablissement > .tabeau_resto,
.container > .zone_recherche_resto > #result_interval > .tabeau_resto,
.container > .zone_recherche_resto > #recherche_par_interval,
.container > .zone_recherche_resto > #nouvelle_plainte,
.container > .zone_recherche_resto > #recherche,
.container > .zone_recherche_resto > .tabeau_resto{
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
}

.container > .zone_recherche_resto > #result_interval_etablissement > .tabeau_resto{
    margin-bottom: 15px;
}

.container > .zone_recherche_resto > #result_interval > .tabeau_resto{
    border-spacing: 0;
    padding: 0px;
}


.container > .zone_recherche_resto > #result_interval > .tabeau_resto th,
.container > .zone_recherche_resto > #result_interval > .tabeau_resto td,
.container > .zone_recherche_resto > .tabeau_resto td{
    padding: 5px;
}

.container > .zone_recherche_resto > #result_interval > .tabeau_resto th,
.container > .zone_recherche_resto > #result_interval > .tabeau_resto td{
    border-bottom: 1px solid black;
}

.container > .zone_recherche_resto > #result_interval > .tabeau_resto thead .nom,
.container > .zone_recherche_resto > #result_interval > .tabeau_resto thead .quantite{
    font-weight: bold;
}

.container > .zone_recherche_resto > #result_interval > .tabeau_resto thead .nom,
.container > .zone_recherche_resto > #result_interval > .tabeau_resto tbody .nom,
.container > .zone_recherche_resto > #result_interval > .tabeau_resto thead .quantite,
.container > .zone_recherche_resto > #result_interval > .tabeau_resto tbody .quantite{
    text-align: center;
}

.container > .zone_recherche_resto > #result_interval > .tabeau_resto thead .nom,
.container > .zone_recherche_resto > #result_interval > .tabeau_resto tbody .nom{
    width: 80%;
}

.container > .zone_recherche_resto > #result_interval > .tabeau_resto thead .quantite,
.container > .zone_recherche_resto > #result_interval > .tabeau_resto tbody .quantite{
    width: 20%;
}

.container > .zone_recherche_resto > #result_interval_etablissement > .tabeau_resto .cle,
.container > .zone_recherche_resto > .tabeau_resto .cle{
    font-weight: bold;
    text-align: right;
    width: 30%;
}

.container > .zone_recherche_resto > #result_interval_etablissement > .tabeau_resto .valeur,
.container > .zone_recherche_resto > .tabeau_resto .valeur{
    text-align: justify;
    width: 70%;
}


.container > .zone_recherche_resto > form > div {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.container > .zone_recherche_resto > form > .troisBTN {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.container > .zone_recherche_resto > form > .modif {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.container > .zone_recherche_resto > form > .modif > fieldset > .information,
.container > .zone_recherche_resto > form > .modif > .information{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.container > .zone_recherche_resto > form > .modif > fieldset > .information > div,
.container > .zone_recherche_resto > form > .modif > .information > div{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.container > .zone_recherche_resto > form > .modif > fieldset > .information > label,
.container > .zone_recherche_resto > form > .modif > .information > label{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.container > .zone_recherche_resto > form > .modif > fieldset > .information > label:hover,
.container > .zone_recherche_resto > form > .modif > .information > label:hover{
    cursor: pointer;
}

.container > .zone_recherche_resto > form > .modif > .erreur > div > input[type=text]{
    border-color: red;
    background-color: #FCDEDE;
    border: 2px solid red;
}

.container > .zone_recherche_resto > #recherche.erreur{
    border-color: red;
}

.container > .zone_recherche_resto > form > .modif > .troisBTN > .bouton,
.container > .zone_recherche_resto > .admin_modif > .bouton,
.container > .zone_admin > .admin > .bouton,
.container_erreur > .zone_404 > .admin > .bouton_404{
    background: #507d99;
    background-image: -webkit-linear-gradient(top, #507d99, #96cceb);
    background-image: -moz-linear-gradient(top, #507d99, #96cceb);
    background-image: -ms-linear-gradient(top, #507d99, #96cceb);
    background-image: -o-linear-gradient(top, #507d99, #96cceb);
    background-image: linear-gradient(to bottom, #507d99, #96cceb);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    border: solid #8c711f 3px;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
}

.container_erreur > .zone_404 > .admin > .bouton_404{
    margin-right: 0px;
}

.container > .zone_recherche_resto > form > . modif > .troisBTN > .bouton:hover,
.container > .zone_recherche_resto > .admin_modif > .bouton:hover,
.container_erreur > .zone_404 > .admin > .bouton_404:hover,
.container > .zone_admin > .admin > .bouton:hover{
    background: #c7dced;
    background-image: -webkit-linear-gradient(top, #c7dced, #6f8491);
    background-image: -moz-linear-gradient(top, #c7dced, #6f8491);
    background-image: -ms-linear-gradient(top, #c7dced, #6f8491);
    background-image: -o-linear-gradient(top, #c7dced, #6f8491);
    background-image: linear-gradient(to bottom, #c7dced, #6f8491);
    cursor: pointer;
}

.container > .return{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > .return > .desktop {
    width: 40px;
    text-align: center;
}