{% extends "layout.html" %}
{% block content %}
<h1>Bienvenue sur la page pour se connecter à son profil</h1>
<div class="container">
    <div class='zone_recherche_resto'>
        {% set champ = '' %}
        {% if erreur %}
        {% set champ = 'erreur' %}
        {% endif %}
        <form method="post" class="{{champ}}" action="/connection"
              id="connection_profil">
            <div class="modif">
                {% set champ = '' %}
                {% if erreur %}
                {% if liste_validation['champ_courriel_vide'] or
                liste_validation['champ_courriel_inv'] or
                liste_validation['champ_courriel_non_trouve'] or
                liste_validation['longueur_courriel_inv'] %}
                {% set champ = 'erreur' %}
                {% endif %}
                {% endif %}
                <div class="information {{champ}}">
                    <label for="courriel_conn">Courriel :</label>
                    <div>
                        <input id="courriel_conn" name="courriel_conn"
                               title="Le format doit respecter les standards de
                               l'industrie sur la nomenclature des courriels"
                               type="email" placeholder="exemple@domaine.com"
                               value="{{courriel}}">
                    </div>
                </div>
                {% set champ = '' %}
                {% if erreur %}
                {% if liste_validation['champ_password_vide'] or
                liste_validation['champ_password_inv'] or
                liste_validation['champ_password_non_trouve'] or
                liste_validation['longueur_password_inv'] %}
                {% set champ = 'erreur' %}
                {% endif %}
                {% endif %}
                <div class="information {{champ}}">
                    <label for="password_conn">Mot de passe :</label>
                    <div>
                        <input id="password_conn" name="password_conn" title=""
                               type="password" maxlength="20"
                               value="{{password}}" minlength="8">
                    </div>
                </div>
                <div class="troisBTN">
                    <input class="bouton" type='submit'
                           value="Se Connecter...">
                    <input class="bouton" id="btn_reset_connection" type='reset'
                           value="Effacer...">
                </div>
            </div>
        </form>
        <ul class="aucun" id="message_erreur_connection">
            {% if erreur %}
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    <h2>Section pour créer un profil</h2>
    <div class='zone_admin'>
        <div class="admin">
            <a class="bouton" href="/nouveau_profil">Créer son profil</a>
        </div>
    </div>
    <h2>Section pour revenir à la page d'accueil</h2>
    <div class='zone_admin'>
        <div class="admin">
            <a class="bouton" href="/">Page D'accueil</a>
        </div>
    </div>
</div>
{% endblock content %}