{% extends "layout.html" %}
{% block content %}
<h1>Bienvenue sur la page pour créer son profil</h1>
<div class="container">
    <p class="desktop" id="hautPageDesktop"></p>
    <div class='zone_recherche_resto'>
        <form method="post" action="/api/nouveau_profil" id="nouveau_profil">
            <div class="modif">
                <div class="information">
                    <label for="prenom">Prénom :</label>
                    <div>
                        <input id="prenom" name="prenom" type="text"
                               title="Charactères alphabétique, les espaces et le tiret sont permis"
                               maxlength="50" value="">
                    </div>
                </div>
                <div class="information">
                    <label for="nom">Nom :</label>
                    <div>
                        <input id="nom" name="nom" type="text"
                               title="Charactères alphabétique, les espaces,
                               l'apostrophe et le tiret sont permis"
                               maxlength="50" value="">
                    </div>
                </div>
                <fieldset>
                    <legend class="legendCenter">Information qui sera utilisé
                        pour se connecter !
                    </legend>
                    <div class="information">
                        <label for="courriel">Courriel :</label>
                        <div>
                            <input id="courriel" name="courriel"
                                   title="Le format doit respecter les standards de
                               l'industrie sur la nomenclature des courriels"
                                   type="email"
                                   placeholder="exemple@domaine.com"
                                   value="">
                        </div>
                    </div>
                    <div class="information">
                        <label for="password">Mot de passe :</label>
                        <div>
                            <input id="password" name="password"
                                   title=""
                                   type="password" maxlength="20"
                                   value="" minlength="8">
                        </div>
                    </div>
                    <div class="information">
                        <label for="password_conf">Confirmer votre mot de passe
                            :</label>
                        <div>
                            <input id="password_conf" name="password_conf"
                                   title=""
                                   type="password"
                                   maxlength="20"
                                   value="" minlength="8">
                        </div>
                    </div>
                </fieldset>
                <div class="information">
                    <label for="liste_resto_profil">Liste des établissements
                        :</label>
                    <div>
                        <!-- https://select2.org/getting-started/basic-usage -->
                        <select class="js-example-basic-multiple"
                                id="liste_resto_profil" multiple="multiple"
                                name="liste_resto_profil[]"
                                title="Saisir un/des établissement(s) en particulier">
                            {% for un_etablissement in liste_etablissement %}
                            <option value="{{un_etablissement}}">
                                {{un_etablissement}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="troisBTN">
                    <input class="bouton" type='submit'
                           value="Créer son profil...">
                    <input class="bouton" id="btn_reset_profil" type='reset'
                           value="Effacer...">
                </div>
            </div>
            <ul class="aucun" id="message_erreur_profil"></ul>
        </form>
        <p>Résultat - Par rapport à la création du profil</p>
        <!-- Section pour le retour Ajax D1 -->
        <div id="result_profil"></div>
    </div>
    <h2>Section pour se connecter à son profil</h2>
    <div class='zone_admin'>
        <div class="admin">
            <a class="bouton" href="/connexion">Se Connecter</a>
        </div>
    </div>
    <h2>Section pour revenir à la page d'accueil</h2>
    <div class='zone_admin'>
        <div class="admin">
            <a class="bouton" href="/">Page D'accueil</a>
        </div>
    </div>
    <!-- https://publicdomainvectors.org/fr/gratuitement-des-vecteurs/Orange-fl%C3%A8che-pointant-vers-le-haut-de-dessin-vectoriel/9499.html -->
    <div class="return">
        <a class="desktop" href="#hautPageDesktop">
            <img alt="Retour vers le haut" src="/img/fleche_haut.svg"></a>
    </div>

</div>
{% endblock content %}