{% extends "layout.html" %}
{% block content %}
<h1 class="aucun">Il y a eu un problème avec les paramètres insérés !</h1>
<!-- Fichier icone400.jpg est une propriété du site
    https://pixabay.com/vectors/sign-warning-exclamation-mark-alert-159285 -->
<div class="erreur_400">
    <img alt="Erreur 400 !" src="/img/400_erreur.png" title="Erreur 404">
</div>
<div class="container_erreur">
    <div class='zone_404'>
        <div class="admin">
            <a class="bouton_404" href="/">Page D'accueil</a>
        </div>
    </div>
</div>
{% endblock content %}