{% extends "layout.html" %}
{% block content %}
<h1>Bienvenue sur le site des restaurants ayant reçu une / des amende(s) à
    Montréal</h1>
<div class="container">
    <p class="desktop" id="hautPageDesktop"></p>
    <h2>Section pour accéder / créer notre page de profil</h2>
    <div class='zone_admin'>
        <div class="admin">
            <a class="bouton" href="/connection">Se Connecter</a>
        </div>
        <div class="admin">
            <a class="bouton" href="/nouveau_profil">Créer un profil</a>
        </div>
    </div>
    <h2>Section pour déposer une plainte envers un établissement</h2>
    <div class='zone_admin'>
        <div class="admin">
            <a class="bouton" href="/nouvelle_plainte">Créer
                une plainte</a>
        </div>
    </div>
    <h2>Section pour rechercher des établissements rapidement</h2>
    <div class='zone_recherche_resto'>
        <form id="recherche_par_interval">
            <p>Il vous est mit à votre disposition deux moyens de
                recherches</p>
            <div class="modif">
                <fieldset>
                    <p>Option 1 - Une recherche par interval de temps</p>
                    <div class="information">
                        <label for="date_debut">Date début :</label>
                        <div>
                            <input id="date_debut" name="du"
                                   placeholder="exemple de date valide » AAAA-MM-JJ"
                                   title="Saisir une date au format ISO 8601"
                                   type="text" value="">
                        </div>
                    </div>
                    <div class="information">
                        <label for="date_fin">Date fin :</label>
                        <div>
                            <input id="date_fin" name="au"
                                   placeholder="exemple de date valide » AAAA-MM-JJ"
                                   title="Saisir une date au format ISO 8601"
                                   type="text" value="">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <p>Option 2 - Une recherche par établissement</p>
                    <div class="information">
                        <label for="liste_resto">Liste des établissements
                            :</label>
                        <div>
                            <select id="liste_resto" name="liste_resto"
                                    title="Saisir un établissement en particulier">
                                <option selected value="">À Sélectionner
                                </option>
                                {% for un_etablissement in liste_etablissement
                                %}
                                <option value="{{un_etablissement}}">
                                    {{un_etablissement}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </fieldset>
                <div class="troisBTN">
                    <input class="bouton" type='submit' value="Rechercher...">
                    <input class="bouton" id="btn_reset_interval"
                           type='reset' value="Effacer...">
                </div>
            </div>
            <!-- Section des messages erreurs -->
            <ul class="aucun" id="message_erreur_interval"></ul>
        </form>
        <!-- Section pour le retour Ajax A5 -->
        <p>Résultat 1 - Une liste des établissements avec leur nombre
            amendes</p>
        <div id="result_interval"></div>
        <!-- Section pour le retour Ajax A6 -->
        <p>Résultat 2 - Toutes l'information sur les amendes d'un
            établissement sélectionnémendes</p>
        <div id="result_interval_etablissement"></div>
    </div>

    <h2>Section pour rechercher une liste des établissements fautifs</h2>
    <div class='zone_recherche_resto'>
        {% set champ = '' %}
        {% if liste_validation['aucun_restaurant_trouve'] %}
        {% set champ = 'erreur' %}
        {% endif %}
        <form action="/recherche_restaurant" class="{{champ}}" id="recherche"
              method="post">
            <ul>
                <li>Veuillez saisir au moins un des trois critères suivants</li>
                <li>Les accents sont importants</li>
                <li>Si vous n'etes pas sur d'un critère, la recherche va
                    s'arranger
                </li>
            </ul>
            <div class="modif">
                {% set champ = '' %}
                {% if liste_validation['champs_vides'] or
                liste_validation['longueur_etablissement_inv'] or
                liste_validation['champ_etablissement_inv'] %}
                {% set champ = 'erreur' %}
                {% endif %}
                <div class="information {{champ}}">
                    <label for="etablissement">Nom d'établissement :</label>
                    <div>
                        <input id="etablissement" name="etablissement"
                               title="Charactères alphanumériques, les espaces, l'apostrophe et le tiret sont permis"
                               type="text"
                               value="{{liste_champs['etablissement']}}">
                    </div>
                </div>
                {% set champ = '' %}
                {% if liste_validation['champs_vides'] or
                liste_validation['longueur_proprietaire_inv'] or
                liste_validation['champ_proprietaire_inv'] %}
                {% set champ = 'erreur' %}
                {% endif %}
                <div class="information {{champ}}">
                    <label for="proprietaire">Nom du propriétaire :</label>
                    <div>
                        <input id="proprietaire" name="proprietaire"
                               title="Charactères alphanumériques, les espaces, l'apostrophe et le tiret sont permis"
                               type="text"
                               value="{{liste_champs['proprietaire']}}">
                    </div>
                </div>
                {% set champ = '' %}
                {% if liste_validation['champs_vides'] or
                liste_validation['longueur_rue_inv'] or
                liste_validation['champ_rue_inv'] %}
                {% set champ = 'erreur' %}
                {% endif %}
                <div class="information {{champ}}">
                    <label for="nom_rue">Nom de la rue : (Sans le type de
                        rue)</label>
                    <div>
                        <input id="nom_rue" name="nom_rue"
                               title="Charactères alphanumériques, les espaces, l'apostrophe et le tiret sont permis"
                               type="text"
                               value="{{liste_champs['nom_rue']}}">
                    </div>
                </div>
                <div class="troisBTN">
                    <input class="bouton" type='submit' value="Rechercher...">
                    <input class="bouton" id="btn_reset_recher" type='reset'
                           value="Effacer...">
                </div>
            </div>
            {% if liste_validation['situation_erreur'] %}
            <ul class="aucun" id="message_erreur_recher">
                {% for message in liste_champs['messages'] %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </form>
    </div>
    <!-- https://publicdomainvectors.org/fr/gratuitement-des-vecteurs/Orange-fl%C3%A8che-pointant-vers-le-haut-de-dessin-vectoriel/9499.html -->
    <div class="return">
        <a class="desktop" href="#hautPageDesktop">
            <img alt="Retour vers le haut" src="/img/fleche_haut.svg"></a>
    </div>
</div>
{% endblock content %}