{% extends "layout.html" %}
{% block content %}
<p class="desktop" id="hautPageDesktop"></p>
<h1>Voici le résultat de votre recherche des établissements en problèmes</h1>
<div class="container">
    <div class='zone_admin'>
        <div class="admin">
            <a class="bouton" href="/">Page D'accueil</a>
        </div>
    </div>
    {% if nb_restaurant_trouve > 1 %}
    <h2>Section des <span>{{nb_restaurant_trouve}}</span>
        restaurants ayant reçu des amendes pour infraction</h2>
    {% else %}
    <h2>Section du seul restaurants ayant une amende pour infraction</h2>
    {% endif %}
    {% for un_ensemble in ensemble_trouve %}
    <div class='zone_recherche_resto'>
        <div class="tabeau_resto">
            <div class="ligne">
                <div class="colonne25">Type</div>
                <div class="colonne75">Information</div>
            </div>
            {% for cle, valeur in un_ensemble.items() %}
            <div class="ligne">
                <div class="colonne25">{{cle}}</div>
                {% if cle == "Montant" %}
                <div class="colonne75">{{valeur}} $</div>
                {% elif cle == "Description" %}
                <div class="colonne75 justify">{{valeur}}</div>
                {% else %}
                <div class="colonne75">{{valeur}}</div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <!-- https://publicdomainvectors.org/fr/gratuitement-des-vecteurs/Orange-fl%C3%A8che-pointant-vers-le-haut-de-dessin-vectoriel/9499.html -->
    <div class="return">
        <a class="desktop" href="#hautPageDesktop">
            <img alt="Retour vers le haut" src="/img/fleche_haut.svg"></a>
    </div>
</div>
{% endblock content %}